*{
    box-sizing: border-box;
}
.ludo-container{
   width: 85vmin;
   margin: 20px auto;
}
.ludo{
    background-image: url('./ludo.jpg');
    width: 100%;
    height: 85vmin;
    background-size: contain;
    position: relative;
}
.btn{
    padding: 5px 20px;
    font-size: 16px;
}
.roll{
    background-color: seagreen;
    color: white;
}
.ludo-btn{
    display: flex;
    width: 65vmin;
    justify-content: space-between;
    margin-top: 15px;
}
.active-player{
    display: flex;
    width:65vmin;
    margin-top: 10px;
}
.player-pieces{
    height: 100%;
    width: 100%;
}
.player-piece{
    width: 3%;
    height: 3%;
    border: 1px solid;
    border-radius: 50px;
    position: absolute;
    /* top:15%;
    left: 50%; */
}
[player-id="P1"].player-piece{
    background-color: #2eafff;
}
[player-id="P2"].player-piece{
    background-color: #00b550;
}
.highlight{
    cursor: pointer;
    border: 1px dashed;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1.4);
    }
    100%{
        transform: rotate(360deg);
    }
}